.weather_div {
    font-style: italic;
    font-size: 17px;
    font-weight: 300;
    text-align: right;
    margin: 40px 40px 0px 0px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .weather_div span {
    display: block;
  }